body,
html {
    height: 100%;
    width: 100%;
}

body {
    background: #fff;
    padding-top: 70px;
    padding-bottom: 50px;
}

footer {
    position: fixed;
    bottom: 0;
}

.wrapper {
    height: 100%;
}

.modal {
    display: none;
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000;
    background-color: rgba(0, 0, 0, .4)
}

.modal-container {
    position: relative;
    width: 100%;
    height: 100%
}

.modal-content {
    box-sizing: border-box;
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    min-width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.modal-content .close {
    float: right;
    transition: color .2s ease-in-out
}

.modal-content .close:hover {
    color: "red";
    cursor: pointer
}

.modal-content .button-row {
    max-width: 100%;
    margin-top: 20px
}

.modal.is-open {
    display: block
}

.navbar-default .navbar-nav>li>a:hover {
    color: #555;
    background-color: #e7e7e7
}

.dropdown:hover .dropdown-menu {
    display: block
}

ul.footer-nav {
    padding: 0;
    margin: 0
}

ul.footer-nav>li {
    display: inline-block;
    padding-right: 5px
}

.footer-nav li:after {
    content: " |"
}

.footer-nav li:last-of-type:after {
    content: ""
}

p.copyright>span {
    color: #777
}


/* ================= MY PROFILE =================*/

.lookContainer {
    display: flex;
}

.look {
    flex-direction: column;
    height: 110px;
    width: 110px;
    background: lightgreen;
}

.user-info-text {
    display: block;
}

.inline {
    display: inline-block !important;
}

.user-info-text h5 {
    display: block;
    margin: 8px;
    padding: 10px;
    outline: none;
    border: none;
    border-bottom: solid 2px #c9c9c9;
    transition: border 0.3s;
}

#edit-info input {
    display: block;
    margin: 8px;
    padding: 10px;
    outline: none;
    background: #efefef;
    border: none;
    border-bottom: solid 2px #c9c9c9;
    transition: border 0.3s;
}

#edit-info input:focus {
    border-bottom: solid 2px #969696;
}


/* ================= REGISTER =================*/

#register input,
#login input {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 13px;
    transition: border 0.3s;
    width: 100%;
}

#register input:focus,
#login input:focus {
    border-bottom: solid 1px #2C3E50;
}