body,
html {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'quicksand', 'raleway', sans-serif;
    background: #fff;
    padding-top: 70px;
    padding-bottom: 50px;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', 'Helvetica', 'Arial', 'sans-serif'
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 54px;
    font-weight: 500;
    color: #009fdc
}

h2 {
    font-size: 33px;
    color: #009fdc
}

footer {
    position: fixed;
    bottom: 0;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

body::-webkit-scrollbar {
    width: 0 !important;
    background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb {
    background-color: #3f3f3f;
}

.center {
    text-align: center;
}

.wrapper {
    height: 100%;
}

.modal {
    display: none;
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000;
    background-color: rgba(0, 0, 0, .4)
}

.modal-container {
    position: relative;
    width: 100%;
    height: 100%
}

.modal-content {
    box-sizing: border-box;
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    min-width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.modal-content .close {
    float: right;
    transition: color .2s ease-in-out
}

.modal-content .close:hover {
    color: "red";
    cursor: pointer
}

.modal-content .button-row {
    max-width: 100%;
    margin-top: 20px
}

.modal.is-open {
    display: block
}

.navbar-nav>li>a {
    line-height: 50px;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.nav-size {
    font-size: 27px;
}

.navbar-default .navbar-nav>li>a:hover {
    color: rgba(63, 30, 76, 0.9);
    /*color: #555;
    background-color: #e7e7e7;*/
}

.navbar-default .navbar-nav>li>a:active {
    color: white;
}

.dropdown:hover .dropdown-menu {
    display: block
}

ul.footer-nav {
    padding: 0;
    margin: 0
}

ul.footer-nav>li {
    display: inline-block;
    padding-right: 5px
}

.footer-nav li:after {
    content: " |"
}

.footer-nav li:last-of-type:after {
    content: ""
}

p.copyright>span {
    color: #777
}


/*#register-box {
    margin-left: 10px;
}*/

#register input[type="submit"] {
    width: auto
}

.register-container {
    margin-right: 10%;
    animation: fadeIn 1.5s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.sm-inline {
    color: #333;
    font-size: 28px;
}


/* ================= NAV BAR =================*/

.nav-container {
    padding: 0 4% 0 4%;
}

.navbar {
    background: rgba(125, 5, 174, 0.75);
    height: 6%;
}

.navbar-default {
    border: none;
}

.navbar-default .navbar-brand {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 1px;
}

.navbar-default .navbar-brand:hover {
    color: white;
}

.navbar-default .navbar-nav>li>a {
    color: white
}

.header-login {
    line-height: 35px;
    margin-top: 6px;
}

.nav li {
    margin-top: 4px;
}

.l-input-ct {
    float: left
}

.l-input-ct input {
    margin-left: 15px;
    margin-right: 15px;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 14px;
    transition: border 0.5s;
    outline: none;
}


/* HOME */

.home {
    margin-left: 15%;
}

.hms-one,
.hms-two {
    height: 80vh;
    animation: fadeIn 1s forwards;
}

.hms-one {
    padding-top: 15%;
}

.one-liner-ct {
    display: flex;
    flex-direction: row;
}

.img-ct {
    align-self: center;
    margin-right: 8%;
}

.inline-txt-ct {
    align-self: center;
}

.flexed {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flexed h1 {
    text-align: center;
    transition: all 1s ease-in;
}

.title {
    text-align: center;
}

.title h1 {
    font-size: 68px;
    font-style: italic;
}

.reg-title {
    font-size: 54px !important;
    margin-bottom: 50px;
}

.subtitle {
    text-align: center;
    font-size: 40px;
    font-style: italic;
    font-weight: bold;
}

.flex-inline {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    margin: 5em 0;
}

.abt-btn {
    font-size: 16px;
    font-weight: bold;
    outline: none;
    background: white;
    color: rgba(125, 5, 174, 0.75);
    border: 1px solid rgba(125, 5, 174, 0.75);
    -webkit-transition: all .15s ease-in;
    -moz-transition: all .15s ease-in;
    transition: all .15s ease-in;
}

.abt-btn:hover {
    color: rgb(125, 5, 174);
    outline: none;
}

.abt-btn:active,
.abt-btn:focus {
    color: white;
    outline: none;
}

.crt-btn {
    background: rgba(125, 5, 174, 0.75);
    color: white;
    font-weight: bold;
    margin-left: 25px;
    padding: 16px 28px;
    font-size: 21px;
    border-radius: 6px;
    -webkit-transition: all .15s ease-in;
    -moz-transition: all .15s ease-in;
    transition: all .15s ease-in;
}

.crt-btn:hover {
    background: rgb(125, 5, 174);
    color: white
}

.crt-btn:active,
.crt-btn:focus {
    background: rgba(125, 5, 174, 0.75);
    color: white;
    outline: none;
}


/* ================= REGISTER =================*/

#register input,
#register select,
#login input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #2C3E50;
    font-size: 16px;
    transition: border 0.3s;
    width: 100%;
    outline: none;
}

#register input,
#register select {
    padding: 16px;
    font-size: 20px;
}

#register input:focus,
#register select:focus,
#login input:focus {
    border: solid 1px lightgreen;
}

#register input::placeholder {
    color: rgba(44, 62, 80, .55)
}

.btn-ct {
    margin: 15px 0;
    text-align: center;
}

#register {
    font-family: 'Montserrat', sans-serif;
    padding: 65px 20px;
    border: 1px solid rgba(192, 192, 192, .5);
    border-radius: 15px;
    width: 50%;
    margin-left: 25%;
    box-shadow: 0 1px 6px 1px rgba(177, 170, 180, 0.4);
}

.flexed-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#register .btn-continue {
    padding: 10px 15px;
    border-radius: 1px;
    color: white;
    background: #27AE60;
}

#register input[type="submit"],
#register .btn-back {
    border-radius: 1px;
    padding: 12px 15px;
    font-size: 20px;
    float: left;
    color: white;
    background: #27AE60;
    margin-bottom: 0;
}

#register input[type="submit"] {
    float: right;
    font-weight: normal;
}

#register .btn-continue:hover,
#register input[type="submit"]:hover,
#register .btn-back:hover {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}

.partOne,
.partTwo {
    transition: all 1s ease-in;
    animation: fadeIn 1s forwards;
    width: 90%;
    margin-left: 5%;
}

.partOne h4,
.partTwo h4 {
    letter-spacing: 1px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* ================= MY PROFILE =================*/

.add-look,
.trash-look {
    position: absolute;
    top: 0;
    right: 0;
    width: 25%;
    height: 25%;
    border: none;
    background: 0;
    padding: 0;
    margin: 0;
    font-size: 26px;
    line-height: 26px;
    outline: none;
    transition: all .1s linear;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
}

.add-look {
    top: 30%;
    left: calc(25% + 25px);
    font-size: 50px;
}

.add-look:hover {
    color: #5bc95b;
}

.trash-look:hover {
    color: #be302c;
}

.edit-container {
    position: relative;
    margin-top: 10px;
    height: 22px;
}

.edit-container a {
    letter-spacing: 1px;
    position: absolute;
    right: 0;
    transition: 400ms cubic-bezier(.08, .52, .52, 1) color, 400ms cubic-bezier(.08, .52, .52, 1) opacity;
}

.edit-container a:hover {
    text-decoration: none;
}

.user-container {
    width: 85%;
    margin-left: 0%;
    padding: 1%;
}

.lookContainer {
    display: flex;
    width: 100%;
    border: 4px solid rgba(125, 5, 174, 0.75);
    border-radius: 1px;
}

.look {
    position: relative;
    flex-direction: column;
    height: 157px;
    width: 15em;
    background: lightgreen;
}


/* Photo Booth */

.uploading {
    position: absolute;
    top: 4%;
    left: 7%;
    width: 86%;
    height: 91%;
    z-index: 9999;
    border: 5px solid;
    padding: 60px;
    border-radius: 25px;
    font-weight: bold;
    font-size: 6em;
    line-height: 3.4em;
    text-align: center;
    background: rgba(116, 116, 116, .5);
    color: white;
    -webkit-transition: all .5s ease-in;
    -moz-transition: all .5s ease-in;
    transition: all .5s ease-in;
    -o-animation: inset .5s infinite alternate;
    -webkit-animation: inset .5s infinite alternate;
    -moz-animation: inset .5s infinite alternate;
    animation: inset .5s infinite alternate;
}

@keyframes inset {
    from {
        box-shadow: none;
    }
    to {
        box-shadow: inset 0 0 5px 60px rgba(125, 5, 174, 0.75);
    }
}

.cncl-modal {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    color: #a1a1a1;
    background: transparent;
    border: none;
    font-size: 45px;
    line-height: 45px;
    -webkit-transition: all .1s ease-in;
    -moz-transition: all .1s ease-in;
    transition: all .1s ease-in;
    outline: none;
}

.cncl-modal:hover {
    color: #333333;
}

.v-container {
    position: relative
}

.v-container video {
    width: 90%;
    margin-left: 5%;
    border-radius: 25px;
}

.v-ctl {
    position: absolute;
    bottom: 1em;
    right: 1em;
    font-size: 35px;
    background: transparent;
    border: none;
    border-radius: 50%;
    line-height: 20px;
    padding: 15px;
    color: white;
    outline: none;
    font-weight: bold;
    border: 1px solid white;
    transition: all .15s linear;
}


/*.v-ctl:hover:enabled {
    background: rgba(0, 0, 0, 0.3)
}*/

.start,
.stop {
    left: calc(50% - 34px);
    background: #5cb85c
}

.start:hover {
    background: #449d44
}

.stop {
    background: #d9534f
}

.stop:hover {
    background: #be302c
}

.retake {
    bottom: 1em;
    left: 2em;
    background: lightcoral
}

.retake:hover {
    background: #d84444;
}

.save {
    bottom: 1em;
    right: 2em;
    background: lightgreen;
}

.save:hover {
    background: #55d555
}

.replay {
    left: calc(50% - 25px);
    background: lightskyblue;
}

.replay:hover {
    background: #45a5e1
}

.vid-look {
    width: 100%;
    cursor: pointer;
}

.user-info {
    width: 50%
}

.user-info-text {
    display: block;
}

.user-info-text>a {
    float: right
}

.inline {
    display: inline-block !important;
}

.user-info-text h3 {
    display: block;
    margin: 8px;
    padding: 10px;
    outline: none;
    border: none;
    border-bottom: solid 2px #c9c9c9;
    transition: border 0.3s;
}

#edit-info input,
#edit-info select {
    display: block;
    margin: 8px;
    padding: 10px;
    outline: none;
    background: #efefef;
    border: none;
    border-bottom: solid 2px #c9c9c9;
    transition: border 0.3s;
}

#edit-info input:focus,
#edit-info select:focus {
    border-bottom: solid 2px #969696;
}


/* ================= Match List =================*/

.match-list-container {
    position: fixed;
    right: 0;
    width: 15%;
    padding: 1%;
    top: calc(6%);
    height: calc(94%);
    background: aliceblue;
    border-left: 1px solid #3f3f3f
}

.match {
    display: block;
    height: 60px;
    line-height: 60px;
    padding: 1%;
    width: 100%;
}

select option {
    border: 0px;
    outline: 0px;
    box-shadow: none;
}

.err-inp {
    margin-top: -8px;
    display: block;
    right: 27px;
    top: 46px;
    position: absolute;
    color: #9e44c2;
    font-weight: bold;
    font-size: 13px;
}


/* ================= Logout Classes ================= */

.logout-msg {
    font-family: 'Montserrat', 'Raleway', sans-serif;
    font-size: 45px;
    text-align: center;
}


/* ================= Add/Remove Classes ================= */

.hundred {
    width: 100% !important;
}


/* ================= React Transitions ================= */

.fade-enter {
    opacity: 0.01;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.fade-leave {
    opacity: 1;
}

.fade-leave.fade-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}