body,
html {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'quicksand', 'raleway', sans-serif;
    background: #fff;
    padding-top: 70px;
    padding-bottom: 50px;
    -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 42px;
    font-weight: 500;
    color: #009fdc
}

h2 {
    font-size: 33px;
    color: #009fdc
}

footer {
    position: fixed;
    bottom: 0;
}

.wrapper {
    height: 100%;
}

.title {
    text-align: left;
    margin-left: 10%;
}

.modal {
    display: none;
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000;
    background-color: rgba(0, 0, 0, .4)
}

.modal-container {
    position: relative;
    width: 100%;
    height: 100%
}

.modal-content {
    box-sizing: border-box;
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    min-width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.modal-content .close {
    float: right;
    transition: color .2s ease-in-out
}

.modal-content .close:hover {
    color: "red";
    cursor: pointer
}

.modal-content .button-row {
    max-width: 100%;
    margin-top: 20px
}

.modal.is-open {
    display: block
}

.navbar-nav>li>a {
    line-height: 50px;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.nav-size {
    font-size: 27px;
}

.navbar-default .navbar-nav>li>a:hover {
    color: rgba(63, 30, 76, 0.9);
    /*color: #555;
    background-color: #e7e7e7;*/
}

.navbar-default .navbar-nav>li>a:active {
    color: white;
}

.dropdown:hover .dropdown-menu {
    display: block
}

ul.footer-nav {
    padding: 0;
    margin: 0
}

ul.footer-nav>li {
    display: inline-block;
    padding-right: 5px
}

.footer-nav li:after {
    content: " |"
}

.footer-nav li:last-of-type:after {
    content: ""
}

p.copyright>span {
    color: #777
}

.register-container {
    margin-right: 10%;
}

.sm-inline {
    color: #333;
    font-size: 28px;
}


/* ================= NAV BAR =================*/

.nav-container {
    padding: 0 2% 0 1%;
}

.navbar {
    background: rgba(125, 5, 174, 0.75);
    height: 6%;
}

.navbar-default {
    border: none;
}

.navbar-default .navbar-brand {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 1px;
}

.navbar-default .navbar-brand:hover {
    color: white;
}

.navbar-default .navbar-nav>li>a {
    color: white
}

.header-login {
    line-height: 35px;
    margin-top: 6px;
}

.l-input-ct {
    float: left
}

.l-input-ct input {
    margin-left: 15px;
    margin-right: 15px;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    color: #2C3E50;
    font-size: 14px;
    transition: border 0.5s;
    outline: none;
}


/* ================= MY PROFILE =================*/

.add-look,
.trash-look {
    position: absolute;
    top: 0;
    right: 0;
    width: 25%;
    height: 25%;
    border: none;
    background: 0;
    padding: 0;
    margin: 0;
    font-size: 26px;
    line-height: 26px;
    outline: none;
    transition: all .1s linear;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
}

.add-look {
    top: 30%;
    left: calc(25% + 25px);
    font-size: 50px;
}

.trash-look:hover {
    color: #be302c;
}

.edit-container {
    position: relative;
    margin-top: 10px;
    height: 22px;
}

.edit-container a {
    letter-spacing: 1px;
    position: absolute;
    right: 0;
    transition: 400ms cubic-bezier(.08, .52, .52, 1) color, 400ms cubic-bezier(.08, .52, .52, 1) opacity;
}

.edit-container a:hover {
    text-decoration: none;
}

.user-container {
    width: 85%;
    margin-left: 0%;
    padding: 1%;
}

.lookContainer {
    display: flex;
    width: 100%;
    border: 4px solid rgba(125, 5, 174, 0.75);
    border-radius: 1px;
}

.look {
    position: relative;
    flex-direction: column;
    height: 157px;
    width: 15em;
    background: lightgreen;
}


/* Photo Booth */

.cncl-modal {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    color: #a1a1a1;
    background: transparent;
    border: none;
    font-size: 45px;
    line-height: 45px;
    -webkit-transition: all .1s ease-in;
    -moz-transition: all .1s ease-in;
    transition: all .1s ease-in;
    outline: none;
}

.cncl-modal:hover {
    color: #333333;
}

.v-container {
    position: relative
}

.v-container video {
    width: 90%;
    margin-left: 5%;
    border-radius: 25px;
}

.v-ctl {
    position: absolute;
    bottom: 1em;
    right: 1em;
    font-size: 35px;
    background: transparent;
    border: none;
    border-radius: 50%;
    line-height: 20px;
    padding: 15px;
    color: white;
    outline: none;
    font-weight: bold;
    border: 1px solid white;
    transition: all .15s linear;
}


/*.v-ctl:hover:enabled {
    background: rgba(0, 0, 0, 0.3)
}*/

.start,
.stop {
    left: calc(50% - 34px);
    background: #5cb85c
}

.start:hover {
    background: #449d44
}

.stop {
    background: #d9534f
}

.stop:hover {
    background: #be302c
}

.retake {
    bottom: 1em;
    left: 2em;
    background: lightcoral
}

.retake:hover {
    background: #d84444;
}

.save {
    bottom: 1em;
    right: 2em;
    background: lightgreen;
}

.save:hover {
    background: #55d555
}

.replay {
    left: calc(50% - 25px);
    background: lightskyblue;
}

.replay:hover {
    background: #45a5e1
}

.vid-look {
    width: 100%;
    cursor: pointer;
}

.user-info {
    width: 50%
}

.user-info-text {
    display: block;
}

.user-info-text>a {
    float: right
}

.inline {
    display: inline-block !important;
}

.user-info-text h3 {
    display: block;
    margin: 8px;
    padding: 10px;
    outline: none;
    border: none;
    border-bottom: solid 2px #c9c9c9;
    transition: border 0.3s;
}

#edit-info input {
    display: block;
    margin: 8px;
    padding: 10px;
    outline: none;
    background: #efefef;
    border: none;
    border-bottom: solid 2px #c9c9c9;
    transition: border 0.3s;
}

#edit-info input:focus {
    border-bottom: solid 2px #969696;
}


/* ================= REGISTER =================*/

#register input,
#register select,
#login input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #2C3E50;
    font-size: 16px;
    transition: border 0.3s;
    width: 100%;
    outline: none;
}

#register input:focus,
#register select:focus,
#login input:focus {
    border: solid 1px lightblue;
}

#register input::placeholder {
    color: rgba(0, 159, 220, 0.6);
}


/* ================= REGISTER =================*/

.match-list-container {
    position: fixed;
    right: 0;
    width: 15%;
    padding: 1%;
    top: calc(6%);
    height: calc(94%);
    background: aliceblue;
    border-left: 1px solid #3f3f3f
}

.match {
    display: block;
    height: 60px;
    line-height: 60px;
    padding: 1%;
    width: 100%;
}

select option {
    border: 0px;
    outline: 0px;
    box-shadow: none;
}

.err-inp {
    margin-top: -8px;
    display: block;
    right: 27px;
    top: 46px;
    position: absolute;
    color: #9e44c2;
    font-weight: bold;
    font-size: 13px;
}


/* ================= Logout Classes ================= */

.logout-msg {
    font-family: 'Montserrat', 'Raleway', sans-serif;
    font-size: 45px;
    text-align: center;
}


/* ================= Add/Remove Classes ================= */

.hundred {
    width: 100% !important;
}


/* ================= React Transitions ================= */

.fade-enter {
    opacity: 0.01;
}

.fade-enter-active {
    opacity: 1;
    transition: opacity 1s;
}

.fade-leave {
    opacity: 1;
}

.fade-leave-active {
    opacity: 0;
    transition: opacity 0.5s;
}